body{
  font-style: italic;
}
.main{
  width:80%;
  margin:20px auto;
  border:1px solid blue;
  padding:20px;
  background-color: deeppink;
}
h2{
  margin-top:0px;
  color: chocolate;
}
.encabezado{
  background-color: blueviolet;
  color: white;
  padding:20px;
  margin-bottom: 20px;
  font-size: 30px;
  box-shadow: 0px 5px 10px black;
  display: flex;
  justify-content: space-between;
}
ul{
  list-style: none;
}
figure{
  width: 120px;
  height: 100px;
  margin: 0;
}
img{
  width: inherit;
  height: inherit;
}
ul{
  display: flex;
}
a{
  padding-right: 20px;
}
h3{
  color: crimson;
}
