body{
  font-style: italic;
}
.main{
  width:80%;
  margin:20px auto;
  border:1px solid blue;
  padding:20px;
  background-color: deeppink;
}
h2{
  margin-top:0px;
  color: chocolate;
}
.encabezado{
  background-color: blueviolet;
  color: white;
  padding:20px;
  margin-bottom: 20px;
  font-size: 30px;
  box-shadow: 0px 5px 10px black;
}
h3{
  color: crimson;
}
